/* LeftPage */
.leftPage {
    font-family:Arial, Helvetica, sans-serif ;
    width: 20%;
    height: 100%;
    position: absolute;
	display: flex;
    align-items: center;
    justify-items: center;
    top: 0px;
    bottom: 0px;
    background-color: #f5f6f7;
}
.sidebar {
    left: 30px;
    height: 96%;
    width: 70%;
    position: absolute;
    background-color: #373839;
    border-radius: 30px;
}
.sidebar p{
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-size: 30px; 
}
.sidebar p i{
    color: yellow;
    font-weight: bold;
}
.sidebar a {
    padding: 12px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: flex;
    border-radius: 6px;
}

.sidebar a:hover {
    color: #84c8dd;
    background-color: #363636;
}
.sidebar a.active {
    border: 2px solid #3f4040;
    color: yellow;
    box-shadow: 1px 0.5px 3px rgba(0, 0, 0, 0.3) inset;
}
.sidebar a:active {
    border: 2px solid #3f4040;
    color: yellow;
    box-shadow: 1px 0.5px 3px rgba(0, 0, 0, 0.3)   ;
}
/* rightPage */
.rightPage{
    font-family:Arial, Helvetica, sans-serif ;
    width: 80%;
    height: 100%;
    position: absolute;
	display: flex;
    top: 0px;
    bottom: 0px;
    left: 20%;
    background-color: #f5f6f7;
}
/* left header of the right page  */
.leftHeader {
    position: absolute;
    top: 0;
    width: 90%;
    font-size: 20px;
  }
  
.leftHeader p {
    float: left;
}
/* right header of the right page  */
.rightHeader{
    float: right;
}
.rightHeader p img{
    width: 35%;
    height: 30px;
    border: 1px solid yellow;
    border-radius: 100%;
    margin-top: -8px;
    margin-left: 30px;
    padding-top: 2px;
}
/* right header of the right page  */
.rightBody{
    position: absolute;
    top: 60px;
    width: 80%;
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
}
/* left body */
.leftForm {
    width: 50%;
    height: 90%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.left_title{
    margin-left: 35%;
}
.form_ipt{
    font-size: 16px;
}
.form_ipt ul label{
    font-size: 12px;
}
.leftForm ul{
   margin: 20px 0px 20px 0px;
}
.ipt_name, .combobox, .ipt_adress, .ipt_zipcode, .ipt_location{
    float: right;
    margin-right: 10px;
}
.ipt_name{
    width: 60%;
    padding: 5px 0px 5px 8px;
    border-radius: 5px;
    border: 1px solid #d9dbdc;
}
.combobox{
    width: 62%;
    padding: 5px 17px 5px 3px;
    border: 1px solid #d9dbdc ;
    border-radius: 5px;
    background-color: #f5f6f7;
}
.ipt_adress{
    width: 60%;
    padding: 5px 0px 5px 8px;
    border-radius: 5px;
    border: 1px solid #d9dbdc;
}
.ipt_zipcode{
    width: 60%;
    padding: 5px 0px 5px 8px;
    border-radius: 5px;
    border: 1px solid #d9dbdc;
    border-radius: 5px;
}
.ipt_location{
    width: 60%;
    padding: 5px 0px 5px 8px;
    border-radius: 5px;
    border: 1px solid #d9dbdc;
}
.checkbox_yes{
    margin-left: 40%;
    margin-top: 3%;
}
.checkbox_no{
    margin-left: 13%;
}
.share{
    padding-top: 30px;
}
/* right body */
.rightForm {
    width: 50%;
    float: right;
}

.leftForm p, .rightBody p{
    text-align: center;
}
.maps-wrapper{
    display: flex;
    padding: 10px 12px 10px 12px;
    border: 2px solid #e0e2e3;
    border-radius: 10px;
    margin-right: 15px;
}
/*button*/
.rightButton{
    display: flex;
    position: fixed;
    margin-top: 37%;
    width: 35%;
    font-size: 20px;
}
.left{
    width:50%;
    float: right;
    margin-left: 350px;
}
.left input{
    width: 100px;
    height: 35px;
    /* border: 1px solid white; */
    border-radius: 10px;
    color: #336857;
}
.right input{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    color: #336857;
    background-color: #ffeb3b;
}
.right{
    width:50%;
    float: left;
    margin-left: 10px;
}
@media screen and (max-height: 550px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 12px;}
}