/* LeftPage */
.leftPage {
    font-family:Arial, Helvetica, sans-serif ;
    width: 20%;
    height: 100%;
    position: absolute;
	display: flex;
    align-items: center;
    justify-items: center;
    top: 0px;
    bottom: 0px;
    background-color: #f5f6f7;
}
.sidebar {
    left: 30px;
    height: 96%;
    width: 70%;
    position: absolute;
    background-color: #373839;
    border-radius: 30px;
}
.sidebar p{
    text-align: center; 
    color: rgb(255, 255, 255); 
    font-size: 30px; 
}
.sidebar p i{
    color: yellow;
    font-weight: bold;
}
.sidebar a {
    padding: 12px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: flex;
    border-radius: 6px;
}

.sidebar a:hover {
    color: #84c8dd;
    background-color: #363636;
}
.sidebar a.active {
    border: 2px solid #3f4040;
    color: yellow;
    box-shadow: 1px 0.5px 3px rgba(0, 0, 0, 0.3) inset;
}
.sidebar a:active {
    border: 2px solid #3f4040;
    color: yellow;
    box-shadow: 1px 0.5px 3px rgba(0, 0, 0, 0.3)   ;
}
/* rightPage */
.rightPage{
    font-family:Arial, Helvetica, sans-serif ;
    width: 80%;
    height: 100%;
    position: absolute;
	display: flex;
    top: 0px;
    bottom: 0px;
    left: 20%;
    background-color: #f5f6f7;
}
/* left header of the right page  */
.leftHeader {
    position: absolute;
    top: 0;
    width: 90%;
    font-size: 20px;
  }
  
.leftHeader p {
    float: left;
}
/* right header of the right page  */
.rightHeader{
    float: right;
}
.rightHeader p img{
    width: 35%;
    height: 30px;
    border: 1px solid yellow;
    border-radius: 100%;
    margin-top: -8px;
    margin-left: 30px;
    padding-top: 2px;
}
/* right header of the right page  */
.rightBody{
    position: absolute;
    top: 50px;
    width: 90%;
    font-size: 20px;
    background-color: white;
}
/* left body */
.leftForm {
    width: 50%;
    height: 100%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.form_ipt{
    font-size: 16px;
}
.leftForm ul{
   margin: 20px 0px 20px 0px;
}
.ipt_name, .combobox, .ipt_adress, .ipt_zipcode, .ipt_location{
    float: right;
    margin-right: 10px;
}
.ipt_name{
    width: 60%;
}
.combobox{
    width: 62%;
}
.ipt_adress{
    width: 60%;
}
.ipt_zipcode{
    width: 60%;
}
.ipt_location{
    width: 60%;
}
.checkbox_yes{
    margin-left: 35%;
    margin-top: 3%;
}
.checkbox_no{
    margin-left: 13%;
}
.share{
    padding-top: 30px;
}
/* right body */
.rightForm {
    width: 50%;
    float: right;
}

.leftForm p, .rightBody p{
    text-align: center;
}
.maps-wrapper{
    display: block;
    padding: 15px 5px 12px 12px;
    border: 3px solid;
    border-radius: 10px;
    margin-right: 15px;

}
/**/
.buttonInput{
    display: none;
    margin-top: 35% ;
    width: 80%;
    height: 50px;
}
@media screen and (max-height: 550px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 12px;}
}